.countdown-timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-ring__background {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__circle {
  transition: stroke-dashoffset 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.timer-text {
  position: absolute;
  font-weight: bold;
  transition: font-size 1s ease;
}
